* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body {
	font-family: 'Roboto', sans-serif;
	background-color: #f7f7f7;
	color: #333;
}

.admin-home-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 20px;
}

.admin-header-home {
	background-color: #474747;
	padding: 20px;
	color: white;
	border-radius: 8px;
	margin-bottom: 20px;
}

.header-title {
	font-size: 2.5rem;
	font-weight: 700;
}

.stats-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

.stats-card {
	background-color: #ffffff;
	padding: 25px;
	width: 22%;
	border-radius: 8px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s, box-shadow 0.3s;

	&:hover {
		transform: translateY(-10px);
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	}
}

.stats-card h3 {
	font-size: 1.4rem;
	color: #7f8c8d;
	margin-bottom: 10px;
}

.stats-value {
	font-size: 2rem;
	font-weight: bold;
	color: #3498db;
}

.home-info-container {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.recent-customer,
.recent-order {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	width: 48%;
}

.recent-customer h2,
.recent-order h2 {
	font-size: 1.6rem;
	color: #2c3e50;
	margin-bottom: 15px;
}

.customer-item {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 20px;
}

.customer-name {
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(197, 100, 100);
}

.customer-email {
	font-size: 1rem;
	color: #2b5a8a;
}

.order-item-home {
	display: flex;
	align-items: center;
	background: #f1f0f0;
	border-radius: 10px;
	padding: 15px;
	gap: 10px;
	margin-bottom: 15px;
}

.order-name-home {
	font-size: 1.4rem;
	font-weight: 600;
	color: #34495e;
}
.order-icon {
}
.order-info-wrapper {
}

.order-info-home {
	display: flex;
	margin-top: 8px;
	align-items: center;
	gap: 10px;
}

.order-status-home {
	font-size: 1rem;
	color: #f39c12;
	font-weight: bold;
}

.order-id-home,
.order-date-home,
.order-price-home {
	font-size: 1rem;
	color: #7f8c8d;
}

@media (max-width: 768px) {
	.stats-card {
		width: 48%;
	}

	.stats-container {
		flex-direction: column;
	}

	.home-info-container {
		flex-direction: column;
	}

	.recent-customer,
	.recent-order {
		width: 100%;
	}
}
